/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
    background: linear-gradient(45deg, rgba(255,169,184,1), rgba(245,169,184,0.5));
    background-size: cover;
    color: black;
    font-family: NerdFontLilex;
}

.p {
    color:rgb(72, 17, 25);   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}
.panel-site { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel-main {
    margin-top: 4px;
    display: flex;
}

.panel-top {
    margin-top:100px;
    border-style: solid;
    border-color: aquamarine;
    border-width: 2px;
    border-radius: 16px;
    background-image: linear-gradient(45deg, rgba(37, 51, 245, 0.45), rgba(46, 255, 252, 0.15));
    height: 32px;
    width: 1300px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar {
    width: 99%;
    display: inline-block;
    font-weight: bold;
    margin-left: 2px;
    padding-left: 4px;
    align-content: center;
    border-radius: 16px;
    border-style: solid;
    border-color: aquamarine;
    border-width: 2px;
    background-image: linear-gradient(315deg, rgba(140, 202, 211, 0.6), rgba(227, 151, 187, 0.6));
}

.home-button {
    border-radius: 16px;
    background-color: rgba(255,169,184,1);
}

.greet p {
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(72, 17, 25);
}

.panel-left {
    background-image: linear-gradient(45deg, rgba(37, 51, 245, 0.45), rgba(46, 255, 252, 0.15));
    display: inline-block;
    width: 256px;
    height: 680px;
    border-style: solid;
    border-radius: 16px;
    border-width: 2px;
    border-color: aquamarine;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
}

.author-name {
    color:rgb(72, 17, 25);
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color:aquamarine;
    background-image: linear-gradient(315deg, rgba(140, 202, 211, 0.9), rgba(227, 151, 187, 0.9));
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.author-image-border {
    background-image: linear-gradient(315deg, rgba(140, 202, 211, 0.9), rgba(227, 151, 187, 0.9));
    display: block;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color:aquamarine;
}

.author-image {
    display: block;
    align-self: center;
    border-radius: 16px;
    width: 254px;
    height: 252px;
}

.author-text {
    display: block;
    background-image: linear-gradient(315deg, rgba(140, 202, 211, 0.9), rgba(227, 151, 187, 0.9));
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color:aquamarine;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0px;
    height: 47.3%;
    overflow: hidden;
}


.intro-text {
    display: block;
    height: 300px;
    font-size: 14px;
    text-wrap: wrap;
    width: inherit;
    text-align:left;
    margin-top: 3px;
    padding-top: 0px;
    padding-bottom: 20px;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(227, 151, 187, 1) rgba(140, 202, 211, 1);
}

.intro-text p {
    color: rgb(72, 17, 25);
    margin: 2px 1px;
    padding: 2px;
}

.intro-text ul {
    color: rgb(72, 17, 25);
    text-align: left;
    margin-left: 0px;
    padding-left: 20px;
}
.panel-center {
    background-image: linear-gradient(45deg, rgba(37, 51, 245, 0.45), rgba(46, 255, 252, 0.15));
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 740px;
    height: 680px;
    border-style: solid;
    border-radius: 16px;
    border-width: 2px;
    border-color: aquamarine;
    margin-right: 4px;
}

.panel-right {
    background-image: linear-gradient(45deg, rgba(37, 51, 245, 0.45), rgba(46, 255, 252, 0.15));
    display: inline-block;
    width: 316px;
    height: 680px;
    border-style: solid;
    border-radius: 16px;
    border-width: 2px;
    border-color: aquamarine;
}

.status-wrapper {
    display: flex;
    height: 36px;
    width: auto;
    padding-left: 20px;
    margin: 8px;
    border-style: solid;
    border-radius: 16px;
    border-width: 2px;
    border-color: aquamarine;
    background-image: linear-gradient(315deg, rgba(140, 202, 211, 0.9), rgba(227, 151, 187, 0.9));
}

.status-wrapper p{
    padding-top: 8px;
    margin: 0;
}

.status {
    display: inline-block;
    color:rgb(72, 17, 25);
    font-size: 14px;
    font-weight: 600;
    text-wrap: nowrap;
    margin-right: 4px;
}

.status-scroll {
    display: inline-block;
    color: rgb(72, 17, 25);
    font-size: 14px;
    font-weight: 400;
    text-overflow: clip;
    text-align: center;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-self: right;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    border-style: solid;
    border-color: aquamarine;
    margin-left: 4px;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    background-image: linear-gradient(315deg, rgba(140, 202, 211, 0.9), rgba(227, 151, 187, 0.9));
    width: 120px;
    height: auto;
}

.menu-button {
    display: inline-block;
    width: 118px;
    height: 26px;
    text-align: center;
    border-radius: 12px;
    border-color: aquamarine;
    background-color: rgba(227, 151, 187, 0.6);
    margin-bottom: 2px;
    padding: 0;
}

.menu-wrapper p {
    color: rgb(72, 17, 25);
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    margin-top: 4px;
    margin-bottom: 6px;
    padding: 2px 0px;
    border-radius: 16px;
    border-color: aquamarine;
    border-style: solid;
    border-width: 2px;
}

#chattable {
    height: 600px;
    width: 300px;
    border-radius: 16px;
    border-color: aquamarine;
    margin-left: 8px;
    margin-top: 2px;
}

.chatbox-wrapper {
    display: inline;
    width: 300px;
    margin-top: 4px;
}

.center-wrapper {
    display: flex;
    text-align: center;
}
.scrollbar {
    overflow-block: hidden;
    overflow-wrap: normal;
    overflow-y: scroll;
    overflow: scroll;
    scrollbar-color: aquamarine;
    scrollbar-width: 20px;
    max-height: 600px;
    max-width: 560px;
}
